<div class=homes>
  <h1 class=title>ようこそbookersへ！</h1>
  <p class="bookers">Bookers では、さまざまな書籍に関するあなたの意見や<br>印象を共有し交換することができます</p>
  <a class="start_url" href="https://2c7825b0eee8463d98cc0b63e4188dfb.vfs.cloud9.ap-northeast-1.amazonaws.com/books">start</a>
</div>
